.booking {
  &__title {
    font-size: 36px;
    line-height: 41px;
    margin-bottom: 16rem;
  }
  h3 {
    font-weight: normal;
    font-size: 28px;
    line-height: 32px;
    margin-bottom: 2.7rem;
  }
}
