.t-purple {
  color: #590093;
}
.t-pink {
  color: #B01266;
}
.t-white {
  color: #ffffff;
}
.t-center {
  text-align: center;
}
.f-bold {
  font-weight: bold;
}
.t-upper {
  text-transform: uppercase;
}
.t-center {
  text-align: center;
}
.t-gradient {
  background: linear-gradient(92.03deg, #e01b4c 15.01%, #590093 75.44%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;


}
.bg-white {
  background: #fff;
}
.bg-purple {
  background:  #590093;}
  .bg-pink {
    background: #B01266;

  }
  
.m-a {
  margin: 0 auto;
}
