@media (max-width: 1439px) {
}
@media (max-width: 1200px) {
  .section {
    &__title {
      color: red;
    }
  }
}

@media (max-width: 992px) {
  .section {
    &__title {
      color: rgb(0, 114, 47);
    }
  }
  .hero {
    &__title {
      width: 100%;
    }
  }
  .about {
    &__descr {
      p, div {
        width: 100%;
      }
      svg {
        width: 5rem;
        height: auto;
      }
    }
    &__title {
      width: 100%;
    }
  }
}

@media (max-width: 768px) {
  .section {
    &__title {
      color: rgb(17, 0, 255);
    }
  }
  .hero {
    &__subtitle {
      width: 100%;
    }
  }
  .logo {
    img {
      height: 3rem;
    }
  }
  .about {
    &__benefit {
      margin-bottom: 1.5rem;
    }
    &__descr {
      p, div {
        margin-bottom: 1.5rem;
      }
 
    }
    &__title {
      margin-bottom: 1.5rem;
    }
  }
}

@media (max-width: 576px) {
  .section {
    &__title {
      color: rgb(167, 7, 127);
    }
  }
}
@media (max-width: 320px) {
  .section {
    &__title {
      color: rgb(217, 255, 0);
    }
  }
 
}
