@mixin before-circle {
  content: '';
  width: size(435, 235);
  height: size(435, 235);
  background: linear-gradient(
    139.13deg,
    #ac1168 13.77%,
    #590093 49.33%,
    #00ffff 83.44%
  );
  opacity: 0.25;
  filter: blur(120px);
  position: absolute;

}
@mixin line {
  position: absolute;
  content: "";
  left: 0;
  width: 100%;
  height: 1px;
  background: linear-gradient(180deg, #590093 0%, #e01b4c 100%);

}

